.exercise{
    width: 300px;
    height: 360px;
    border: 2px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
}
.exercise img{
    width: 298px;
    height: 200px;
    border-radius: 8px;
}
.exercise-info{
  margin: 4px;
}
.btn-card{
    width: 100%;
    background-color: rgb(22, 168, 204);
    color: white;
    font-weight: bold;
    border: none;
    font-size: 18px;
    border-radius:8px;
}
